[Unit]
Description=Set custom VGA RGB palette with vtrgb
DefaultDependencies=no
Before=systemd-vconsole-setup.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/setvtrgb  /etc/vtrgb/tokyo.hex
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
